<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center mb-4">Ingresar Noticia</h3>
      <form id="formulario" method="POST">
        <div class="mb-3">
          <label for="modaltitle" class="form-label">Título de la Noticia</label>
          <input type="text" class="form-control" name="titulo" id="modaltitle" placeholder="Ingrese título del post" maxlength="60" required>
        </div>

        <div class="mb-3">
          <label for="modalautor" class="form-label">Autor</label>
          <input type="text" class="form-control" name="autor" id="modalautor" placeholder="Ingrese nombre del autor" maxlength="40" required>
        </div>

        <div class="mb-3">
          <label for="modalcontent" class="form-label">Contenido</label>
          <textarea class="form-control" name="contenido" id="modalcontent" rows="5" maxlength="4000" placeholder="Ingrese contenido del post" required></textarea>
        </div>

        <div class="mb-3">
          <label for="modalimagen" class="form-label">Carga Imagen URL de la Noticia</label>
          <input type="url" class="form-control" name="imagen" id="modalimagen" placeholder="https://example.com/product-image.jpg" maxlength="10000000" value="https://example.com/product-image.jpg" required>
        </div>

        <div class="mb-3">
          <label for="modalcategoria" class="form-label">Categoría</label>
          <select id="modalcategoria" name="categoria" class="form-select">
            {{#each categoria}}
            <option value="{{nombre_categoria}}">{{nombre_categoria}}</option>
            {{/each}}
          </select>
          <a id="actualizarCategoriaBtn" class="btn btn-success ms-3" style="margin-top: 1rem;">Actualizar Categoría</a>
          <a id="borrarCategoriaBtn" class="btn btn-danger ms-3" style="margin-top: 1rem;">Borrar Categoría</a>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-success me-3">Añadir Post</button>
          <a href="/" class="btn btn-danger">Cerrar el Mantenedor</a>
        </div>
      </form>

      <h3 class="text-center mt-5 mb-4">Añadir Categoría</h3>
      <form id="formulario-categoria" method="POST">
  <div class="mb-3">
    <label for="modalcategoria" class="form-label">Nombre Categoría</label>
    <input type="text" class="form-control" name="nombre_categoria" id="modalcategoria" placeholder="Ingrese nombre categoría" maxlength="200" required>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-success me-3">Añadir Categoría</button>
    <a href="/" class="btn btn-danger">Cerrar el Mantenedor</a>
  </div>
</form>

      <h3 class="text-center mt-5 mb-4">Posts</h3>
      {{#each posts}}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">ID Post: {{id_post}}</h5>
            <h5 class="card-title">Título: {{titulo}}</h5>
            <p class="card-text">Contenido: {{contenido}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <div class="d-flex justify-content-center">
              <a href="/actualizar/{{id_post}}" class="btn btn-success ms-3">Actualizar Post</a>
              <a href="/eliminar/{{id_post}}" class="btn btn-danger ms-3" onclick="return confirm('¿Estás seguro de querer eliminar este post?')">Eliminar Post</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
const formulario = document.getElementById("formulario");

formulario.addEventListener("submit", async (event) => {
  event.preventDefault();

  const titulo = document.getElementById("modaltitle").value;
  const contenido = document.getElementById("modalcontent").value;
  const imagen = document.getElementById("modalimagen").value;
  const categoria = document.getElementById("modalcategoria").value;

  const autor = document.getElementById("modalautor").value;

  const url = "/api/v1/posts";

  try {
    const response = await axios.post(
      url,
      {
        titulo,
        contenido,
        imagen,
        categoria,
        autor, 
      },
      {
        headers: {
          "Content-Type": "application/json",
        },
      }
    );

    console.log(response);
    alert(response.data.message);
    formulario.reset();
    window.location.reload(); // recargar la página después de ingresar el post
  } catch (error) {
    console.error(error);
    alert("Error al ingresar el post.");
  }
});
</script>


<script>
  const form = document.getElementById('formulario-categoria');
  form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Prevenir comportamiento por defecto del formulario (recargar la página)

    const nombre_categoria = form.elements['nombre_categoria'].value.trim();
    if (!nombre_categoria) {
      alert('El nombre de la categoría es requerido.');
      return;
    }

    const categoriaData = { nombre_categoria };

    const response = await fetch('/api/v1/categorias', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(categoriaData)
    });

    if (!response.ok) {
      const data = await response.json();
      alert(`Error al añadir categoría: ${data.message}`);
      return;
    }

    const data = await response.json();
    alert(`Categoría añadida con éxito: ${data.data.nombre_categoria}`);

    // Redirigir a la página del mantenedor
    window.location.href = '/mantenedor';
  });
</script>

<script>
  const form = document.getElementById('formulario-categoria');
  form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Prevenir comportamiento por defecto del formulario (recargar la página)

    const nombre_categoria = form.elements['nombre_categoria'].value.trim();
    if (!nombre_categoria) {
      alert('El nombre de la categoría es requerido.');
      return;
    }

    const categoriaData = { nombre_categoria };

    const response = await fetch('/api/v1/categorias', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(categoriaData)
    });

    if (!response.ok) {
      const data = await response.json();
      alert(`Error al añadir categoría: ${data.message}`);
      return;
    }

    const data = await response.json();
    alert(`Categoría añadida con éxito: ${data.data.nombre_categoria}`);

    // Redirigir a la página del mantenedor
    window.location.href = '/mantenedor';
  });
</script>

<script>
  document.getElementById('actualizarCategoriaBtn').addEventListener('click', () => {
    const selectElement = document.getElementById('modalcategoria');
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const nombre_categoria = selectedOption.textContent;

    window.location.href = `/actualizar_categoria/${nombre_categoria}`;
  });
</script>

